@use "sass:color";

@use "../skins/border";
@use "../skins/colors";
@use "../skins/transforms";
@use "../variables" as vars;

////
// Component: BTN
////

.btn {
  padding: 1rem;
  outline: none;
  @include border.border;
  @include border.radius-sm;
  @include colors.shadow-sm;
  @include transforms.hover-pointer;
  @include transforms.active-inset-shadow;
}

.btn.bg-primary {
  color: vars.$color-primary-contrast;

  &:hover {
    color: lighten(vars.$color-primary-contrast, 5%);
    background-color: lighten(vars.$color-primary, 10%);
  }

  &:active {
    color: lighten(vars.$color-primary-contrast, 10%);
    background-color: lighten(vars.$color-primary, 15%);
  }
}

.btn.bg-light {
  color: vars.$color-light-contrast;

  &:hover {
    color: lighten(vars.$color-light-contrast, 5%);
    background-color: lighten(vars.$color-light, 10%);
  }

  &:active {
    color: lighten(vars.$color-light-contrast, 10%);
    background-color: lighten(vars.$color-light, 15%);
  }
}

// Dependency: Font Awesome
.btn.btn-icon {
  [class^="fa"] {
    min-width: 17px;
		font-size: large;
  }
}

.btn.radius-circle {
  @include border.radius-circle;
}
