@use "sass:color";

@use "../skins/border";
@use "../skins/colors";
@use "../skins/transforms";

////
// COMPONENT: BTN
////

.btn {
  padding: 1rem;
  outline: none;
  @include border.border;
  @include border.radius-sm;
  @include colors.shadow-sm;
  @include transforms.hover-pointer;
  @include transforms.active-inset-shadow;
}

.btn.bg-primary {
  color: $color-primary-contrast;

  &:hover {
    color: color.adjust($color-primary-contrast, $lightness: 5%);
    background-color: color.adjust($color-primary, $lightness: 10%);
  }

  &:active {
    color: color.adjust($color-primary-contrast, $lightness: 10%);
    background-color: color.adjust($color-primary, $lightness: 15%);
  }
}

.btn.bg-light {
  color: $color-light-contrast;

  &:hover {
    color: color.adjust($color-light-contrast, $lightness: 5%);
    background-color: color.adjust($color-light, $lightness: 10%);
  }

  &:active {
    color: color.adjust($color-light-contrast, $lightness: 10%);
    background-color: color.adjust($color-light, $lightness: 15%);
  }
}

// Dependency: Font Awesome
.btn.btn-icon {
  [class^="fa"] {
    min-width: 17px;
    font-size: large;
  }
}

.btn.radius-circle {
  @include border.radius-circle;
}
