<script>
  function toggleShowFooterRefs() {
    const collapsable = document.getElementById('js-collapsable-footer-refs');
    collapsable.classList.toggle('d-none');  
  }
</script>

<footer class="area-footer grid-list-cols-2 align-items-center p-1 shadow-sm">
  <div class="d-flex flex-col flex-center-center"> 
    <p> Isaac Bejarano, 2025  </p>
    <p> 
      <small>
        &copy; Universitat Oberta de Catalunya 
      </small>
    </p>
    <img src="./assets/images/uoc.png?as=webp" alt="ramen 1" width="174" height="45">  
  </div>
  <div>
    <button class="btn btn-icon d-flex mx-auto mb-1 bg-light radius-sm" onclick="toggleShowFooterRefs()">
      <p class="color-dark mr-05"> <b> Referencias </b> </p>
      <i class="fa-solid fa-asterisk"></i> 
    </button>
    <ul class="d-none px-1 list-style-initial" id="js-collapsable-footer-refs">
      <li>
        <p>
          <i>Wikipedia</i> [en línea] [consulta: 2025/03/26 ]. Disponible en:          
          <a href="https://es.wikipedia.org/wiki/Ramen">
            https://es.wikipedia.org/wiki/Ramen 
          </a>
        </p>
      </li>
      <li>
        <p>
          <i>Cookidoo</i> [en línea] [consulta: 2025/03/25 ]. Disponible en:          
          <a href="https://cookidoo.mx/recipes/recipe/es-MX/r279865">
            https://cookidoo.mx/recipes/recipe/es-MX/r279865 
          </a>
        </p>
      </li>
      <li>
        <p>
          DUCKAHOUSE. 
          <i>
            Sin título
          </i>
          [imagen en línea]. 2019 [consulta: 2025/03/29]. Disponible en: 
          <a href="https://pixabay.com/es/vectors/ramen-fideos-fideos-de-logotipo-3950790/">
            https://pixabay.com/es/vectors/ramen-fideos-fideos-de-logotipo-3950790/
          </a>        
        </p>
      </li>
      <li>
        <p>
          PEZZO, Caio. 
          <i>
            Ramen Tradicional Japonés Con Palillos
          </i>
          [imagen en línea]. 2025 [consulta: 2025/03/29]. Disponible en: 
          <a href="https://www.pexels.com/es-es/foto/ramen-tradicional-japones-con-palillos-31264126/">
            https://www.pexels.com/es-es/foto/ramen-tradicional-japones-con-palillos-31264126/
          </a>        
        </p>
      </li>
      <li>
        <p>
          McMANUS, Connor. 
          <i>
            Sin título
          </i>
          [imagen en línea]. 2023 [consulta: 2025/03/29]. Disponible en: 
          <a href="https://www.pexels.com/es-es/foto/comida-cena-almuerzo-vegetariano-16068667/">
            https://www.pexels.com/es-es/foto/comida-cena-almuerzo-vegetariano-16068667/
          </a>        
        </p>
      </li>
      <li>
        <p>
          NGUYYEN, Quang Anh Ha. 
          <i>
            Bola Blanca Sobre Cuenco De Cerámica Blanca
          </i>
          [imagen en línea]. 2018 [consulta: 2025/03/29]. Disponible en: 
          <a href="https://www.pexels.com/es-es/foto/bola-blanca-sobre-cuenco-de-ceramica-blanca-884600/">
            https://www.pexels.com/es-es/foto/bola-blanca-sobre-cuenco-de-ceramica-blanca-884600/
          </a>        
        </p>
      </li>
      <li>
        <p>
          AN, Min. 
          <i>
            Ramen En Cuenco De Cerámica
          </i>
          [imagen en línea]. 2017 [consulta: 2025/03/29]. Disponible en: 
          <a href="https://www.pexels.com/es-es/foto/ramen-en-cuenco-de-ceramica-698549/">
            https://www.pexels.com/es-es/foto/ramen-en-cuenco-de-ceramica-698549/
          </a>        
        </p>
      </li>
      <li>
        <p>
          SH, Nadin. 
          <i>
            Sin título
          </i>
          [imagen en línea]. 2023 [consulta: 2025/03/29]. Disponible en: 
          <a href="https://www.pexels.com/es-es/foto/cena-comida-huevo-bol-17952227/">
            https://www.pexels.com/es-es/foto/cena-comida-huevo-bol-17952227/
          </a>        
        </p>
      </li>
      <li>
        <p>
          BOLTNEVA, Valeria. 
          <i>
            Delicioso Ramen De Camarones Con Huevo Y Maíz
          </i>
          [imagen en línea]. 2024 [consulta: 2025/03/29]. Disponible en: 
          <a href="https://www.pexels.com/es-es/foto/delicioso-ramen-de-camarones-con-huevo-y-maiz-28701169/">
            https://www.pexels.com/es-es/foto/delicioso-ramen-de-camarones-con-huevo-y-maiz-28701169/
          </a>        
        </p>
      </li>
    </ul>
  </div>
</footer>
