////
// GLOBALS
////

// Body
////

body {
  // layout
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh;

  // text
  font-family: $font-primary;
}

.area-header {
  grid-area: header;
}

.area-main {
  grid-area: main;
}

.area-footer {
  grid-area: footer;
}

// Headings
////

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
}

// Paragraph
////

p {
  line-height: 1.5;
}
