////
// DISPLAY
////

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-flex-md {
  @media only screen and (min-width: $tablet-h) {
    display: flex;
    flex-wrap: wrap;
  }
}

.flex-1 {
  flex: 1;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-align-center {
  align-items: center;
}

// flex-<align>-<justify>
.flex-center-center {
  align-items: center;
  justify-content: center;
}

// flex-<align>-<justify>
.flex-center-end {
  align-items: center;
  justify-content: end;
}

// flex-<align>-<justify>
.flex-center-between {
  align-items: center;
  justify-content: space-between;
}

// used for layout via grid system --> has its container classes in grids.scss
.d-grid {
  display: grid;
}

.align-items-center {
  align-items: center;
}
