////
// SPACING
////

// Margin
////

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mr-05 {
  margin-right: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

// Padding
////

.p-05 {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

// Width
////

.w-100 {
  width: 100%;
}

.w-max100 {
  max-width: 100%;
}

// container: tablet is content's max width
.w-tablet-lg {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: $tablet-w) {
    max-width: $tablet-w;
  }
}
