////
// VARS
////

// Typo
////

$font-primary: "AlegreyaSans", Arial, sans-serif;
$font-secondary: "Georgia", "Times New Roman", serif;

// Palette
////

$color-primary: #730FD2; // base
$color-primary-contrast: #F7F6F9;
$color-accent: #A20B54; // triadic
$color-dark: #0f0f0f;
$color-gray: #808080;
$color-light: #f8f8f8;
$color-light-contrast: $color-dark;

// Responsive
////

// iPhone
$phone-w: 390px; // sm
$phone-h: 844px;

// iPad
$tablet-w: 1024px; // lg
$tablet-h: 768px; // md

// FullHD
$desktop-w: 1920px; // xl
$desktop-h: $tablet-w;
